---
import Layout from "@layouts/Layout.astro";
import AchievementsSection from "@components/AchievementsSection.astro";
import MainSection from "@components/MainSection.astro";
import ProfessionalExperience from "@components/ProfessionalExperience.astro";
import ProjectsSection from "@components/ProjectsSection.astro";
import AboutMeSection from "@components/AboutMeSection.astro";
---

<Layout title="Oswaldo Osuna">
  <main>
    <MainSection />
    <ProfessionalExperience />
    <ProjectsSection />
    <AchievementsSection />
    <AboutMeSection />
  </main>
</Layout>
