---
import Layout from "@layouts/Layout.astro";
import AchievementsSection from "@components/AchievementsSection.astro";
import MainSection from "@components/MainSection.astro";
import ProfessionalExperience from "@components/ProfessionalExperience.astro";
import ProjectsSection from "@components/ProjectsSection.astro";
import AboutMeSection from "@components/AboutMeSection.astro";
---

<Layout
  lang="en"
  title="Oswaldo Osuna - Full Stack Developer"
  description="My name is Oswaldo Adrian Osuna Rizo. Full stack developer from Queretaro, Mexico. Front end and back end. Working with Java, JavaScript, React, Vue. Oracle Cloud Infrastructure. GE Aerospace. Universidad AnaÌhuac Queretaro."
>
  <main>
    <MainSection lang="en" />
    <ProfessionalExperience lang="en" />
    <ProjectsSection lang="en" />
    <AchievementsSection lang="en" />
    <AboutMeSection lang="en" />
  </main>
</Layout>
