---
import MainSection from '@components/MainSection.astro';
import ProfessionalExperience from '@components/ProfessionalExperience.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Oswaldo Osuna">
  <main>
		<MainSection />
    <ProfessionalExperience />
  </main>
</Layout>

<style></style>
