---
import AchievementsSection from '@components/AchievementsSection.astro';
import MainSection from '@components/MainSection.astro';
import ProfessionalExperience from '@components/ProfessionalExperience.astro';
import ProjectsSection from '@components/ProjectsSection.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Oswaldo Osuna">
  <main>
		<MainSection />
    <ProfessionalExperience />
    <ProjectsSection />
    <AchievementsSection />
  </main>
</Layout>