---
import { Image } from 'astro:assets';
import SectionContainer from '@components/SectionContainer.astro';
import meImage from '@img/oswaldo-osuna.jpeg';
---

<SectionContainer id="about-me" class="py-16">
  <h2 class="text-zinc-950 dark:text-white xss:text-3xl text-2xl font-bold text-center mb-10">About Me</h2>
  <div
    class="flex flex-col md:flex-row items-center justify-center lg:mx-0 mx-6"
  >
    <div class="w-full md:w-4/12">
      <Image
        src={meImage}
        alt="Profile Picture"
        class="rounded-full w-56 h-w-56 mx-auto md:mx-0 md:mb-0 mb-6"
      />
    </div>
    <div class="w-full md:w-8/12">
      <p
        class="text-base xss:text-lg font-normal text-gray-500 dark:text-gray-400 text-center md:text-left mb-2"
      >
        My name is <span class="text-zinc-950 dark:text-white font-bold">Oswaldo Osuna</span> and I
        am a <span class="text-zinc-950 dark:text-white font-bold">Full Stack Developer</span>. I
        have been working in the tech industry for over <span
          class="text-zinc-950 dark:text-white font-bold">5 years</span
        >. I am passionate about building effective software and learning every
        day to grow professionally in a dynamic environment.
      </p>
      <p
        class="text-base xss:text-lg font-normal text-gray-500 dark:text-gray-400 text-center md:text-left mb-2"
      >
        I led development for <span class="text-zinc-950 dark:text-white font-bold"
          >Oracle Cloud Infrastructure in the Log Analytics service</span
        >. I have also worked on developing solutions for the <span
          class="text-zinc-950 dark:text-white font-bold">aerospace industry</span
        >
        in creating web applications for <span class="text-zinc-950 dark:text-white font-bold"
          >managing critical business processes</span
        >.
      </p>
      <p
        class="text-base xss:text-lg font-normal text-gray-500 dark:text-gray-400 text-center md:text-left"
      >
        As a university student, I was one of the 40 students selected
        to participate in the <span class="text-zinc-950 dark:text-white font-bold"
          >Huawei Seeds for the Future 2020 program</span
        >.
      </p>
    </div>
  </div>
</SectionContainer>
