---
import SectionContainer from '@components/SectionContainer.astro';
import SocialMedia from './SocialMedia.astro';
---

<SectionContainer class="py-44 pb-32">
  <h1 class="text-6xl font-extrabold text-center">Oswaldo Osuna</h1>
  <p class="text-xl text-center text-gray-500 dark:text-gray-400">
    Full stack developer from Queretaro, Mexico. 3 years of experience.
    Specializing in front-end technologies to create efficient and
    functional user interfaces.
  </p>
  <SocialMedia />
</SectionContainer>