---
import ThemeSelector from "@components/ThemeSelector.astro";
import LogoIcon from "@icons/LogoIcon.astro";
const menuOptions = [
  {
    name: "Experience",
    label: "experience",
    url: "/#experience",
  },
  {
    name: "Projects",
    label: "projects",
    url: "/#projects",
  },
  {
    name: "Achievements",
    label: "achievements",
    url: "/#achievements",
  },
  {
    name: "About Me",
    label: "about me",
    url: "/#about-me",
  },
];
---

<header
  class="w-full fixed h-14 flex items-center xs:justify-between justify-center xs:px-6 shadow-md backdrop-blur z-50"
>
  <a href="/#" class="xss:hidden xs:block block">
    <LogoIcon />
  </a>
  <nav class="flex items-center xs:space-x-4 space-x-3">
    {
      menuOptions.map((option) => (
        <a
          class="text-sm text-zinc-500 dark:text-zinc-400
            hover:text-zinc-600 dark:hover:text-zinc-300 transition-all xss:block hidden"
          aria-label={option.label}
          href={option.url}
        >
          {option.name}
        </a>
      ))
    }
    <ThemeSelector />
  </nav>
</header>