---
import LogoIcon from '@icons/LogoIcon.astro';
---
<header class="w-full h-16 flex items-center justify-between px-6 bg-white dark:bg-zinc-950 shadow-md">
  <div>
    <LogoIcon />
  </div>
  <nav class="space-x-4">
    <a class="text-sm" href="#">
      About Me
    </a>
    <a class="text-sm" href="#">
      Projects
    </a>
    <a class="text-sm" href="#">
      Skills
    </a>
    <a class="text-sm" href="#">
      Contact
    </a>
  </nav>
</header>