---
import LogoIcon from '@icons/LogoIcon.astro';
const menuOptions = [
  {
    name: 'Experience'
  },
  {
    name: 'Projects'
  },
  {
    name: 'Achievements'
  },
  {
    name: 'About Me'
  },
];
---
<header class="w-full fixed h-14 flex items-center justify-between px-6 shadow-md backdrop-blur">
  <div>
    <LogoIcon />
  </div>
  <nav class="space-x-4">
    {
      menuOptions.map((option) => (
        <a class="text-sm" href="#">
          {option.name}
        </a>
      ))
    }
  </nav>
</header>