---
import SocialMediaButton from '@components/SocialMediaButton.astro';
import GitHubIcon from '@icons/GitHubIcon.astro';
import LinkedInIcon from '@icons/LinkedInIcon.astro';

const socialMedia = [
  {
    name: "GitHub",
    link: "https://github.com/ososuna",
    icon: GitHubIcon,
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/ososuna/",
    icon: LinkedInIcon,
  },
];
---

<div class="flex justify-center mt-8">
  {
    socialMedia.map((social) => (
      <SocialMediaButton name={social.name} link={social.link}>
        <social.icon slot="icon" class="w-4 h-4 me-2" />
      </SocialMediaButton>
    ))
  }
</div>
