---
import OracleIcon from '@icons/OracleIcon.astro';
import GEIcon from '@icons/GEIcon.astro';

interface Props {
  date: string;
  title: string;
  description: string;
  company: string;
}
const { date, title, description, company } = Astro.props;
---
<li class="mb-10 ms-8 me-6 lg:me-0">
  <span class="absolute flex items-center justify-center p-0.5 w-6 h-6 dark:bg-white bg-zinc-50 rounded-full -start-3">
    { company === 'Oracle' && ( <OracleIcon /> ) }
    { company === 'GE Aerospace' && ( <GEIcon /> ) }
  </span>
  <time class="mb-1 text-sm font-normal leading-none text-zinc-400 dark:text-gray-400">
    {date}
  </time>
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
    {title}
  </h3>
  <p class="text-sm xss:text-base font-normal text-gray-500 dark:text-gray-400">
    {description}
  </p>
</li>