---
import TimelineItem from '@components/TimelineItem.astro';
import experience from "@data/experience/experience.json";
---
<div class="mx-auto lg:ms-0 ms-6">
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
      experience.map((item) => (
        <TimelineItem
          title={item.title}
          company={item.company}
          date={item.date}
          description={item.description}
        />
      ))
    }
  </ol>
</div>
