---
import Layout from '@layouts/Layout.astro';
import AchievementsSection from '@components/AchievementsSection.astro';
import MainSection from '@components/MainSection.astro';
import ProfessionalExperience from '@components/ProfessionalExperience.astro';
import ProjectsSection from '@components/ProjectsSection.astro';
import AboutMeSection from '@components/AboutMeSection.astro';
---

<Layout
  lang="es"
  title="Oswaldo Osuna - Desarrollador Full Stack"
  description="Mi nombre es Oswaldo Adrián Osuna Rizo. Desarrollador full stack de Querétaro, México. Front end y back end. Trabajo con Java, JavaScript, React, Vue. Oracle Cloud Infrastructure. GE Aerospace. Universidad Anáhuac Querétaro."
>
  <main>
    <MainSection lang="es" />
    <ProfessionalExperience lang="es" />
    <ProjectsSection lang="es" />
    <AchievementsSection lang="es" />
    <AboutMeSection lang="es" />
  </main>
</Layout>
