---
import Navbar from '@components/Navbar.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-zinc-950">
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			font-family: 'Geist', sans-serif;
			scroll-behavior: auto;
		}
	}
	@font-face {
		font-family: 'Geist';
		src: url('/fonts/Geist-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
